.scroll-stack-scroller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: scroll-position;
  }
  
  .scroll-stack-inner {
    padding: 70vh 1rem 50rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .scroll-stack-card-wrapper {
    position: relative;
  }
  
  .scroll-stack-card {
    transform-origin: top center;
    will-change: transform, filter;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    height: 50rem;
    width: 78rem;
    padding: 3rem;
    border-radius: 40px;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
  }
  
  .scroll-stack-end {
    width: 100rem;
    height: 1px;
  }
  