@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

.home-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}


.social-icons {
  position: absolute;
  top: 83%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 10;
}

.social-icons a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.2);
}

/* === Teks utama tengah kiri === */
.main-text {
  position: absolute;
  top: 80%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 10;
  opacity: 1;

}

.main-text h1 {
  font-size: 7rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.1;
}

.highlight h2{
  color: #ffffff;
  font-weight: 200;
  mix-blend-mode: screen;
}

.home-second-line {
  display: flex; /* Membuat "for" dan "Brands" berdampingan */
  flex-direction: row;
}

/* Style untuk "for" yang statis */
.highlight-static {
  /* Ambil style dari h1 */
  font-size: 7rem;
  font-weight: 200;
  margin: 0;
  line-height: 1.1;

  /* Ambil style dari .highlight */
  color: #bdbdbd;
  mix-blend-mode: screen;
}

/* Pastikan container ShuffleUpText 
  tidak merusak layout flex
*/
.home-second-line .shuffle-up-container {
  flex-shrink: 0; 
}