@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

.home-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}


/* === Ikon sosial vertikal kiri === */
.social-icons {
  position: absolute;
  top: 83%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 10;
}

.social-icons a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.2);
}

/* === Teks utama tengah kiri === */
.main-text {
  position: absolute;
  top: 80%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 10;
  opacity: 1;

}

.main-text h1 {
  font-size: 7rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.1;
}

.highlight {
  color: #ffffff;
  font-weight: 700;
  mix-blend-mode: screen;
}
