.project-page-container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; 
  padding: 5vh 5vw;
}

.project-page-container .scroll-stack-scroller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.project-page-container .scroll-stack-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.project-galaxy-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}